.discover-more-area {
    background: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(25px);
    padding: 60px 45px;
}
.discover-more-area .section-heading {
    margin-bottom: 36px;
}
.discover-more-area {
    
}
.discover-more-area {
    
}
.discover-more-area {
    
}
.discover-more-area {
    
}
.discover-more-area {
    
}